@import url(bootstrap.min.css);

html {
  box-sizing: border-box;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

body,
pre {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-logo a {
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
  background-color: transparent;
}

.header-nav-item a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: .05em;
  color: #333;
}

ul, li {
  list-style: none;
}

header h1 {
  font-size: 100%;
  margin-top: 30px;
}
header h1 span {
  display: block;
}
main {
  padding: 30px;
}
main h2 {
  font-size: 120%;
  text-shadow: 1px 1px 3px #999;
}
main h2 img {
  height: 1em;
}
pre {
  min-height: 100px;
  padding: 10px;
  background-color: #e3f2ff;
  box-shadow: 1px 1px 5px #eee;
  width: 500px;
}
hr {
  border-color: #7CA4D7;
}
.content {
  margin-top: 30px;
}
form {
  margin-top: 50px;
}
time {
  color: #999;
  font-size: 80%;
}
article {
  margin-top: 30px;
}

.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}